* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* border: 1px solid red; */
  padding-top: 2rem;
  max-width: 600px;
  margin: 0 auto;
}
.heading {
  width: 7.375rem;
  max-width: 118px;
  height: 2.6rem;
  /* style text in heading */
  font-family: 'Raleway', sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.045em;
  text-align: center;
  margin-bottom: 2rem;
  /* border: 1px solid red; */
  margin-right: 2rem;
  /* padding-right: 3rem; */
}

.links {
  width: 29.875rem;
  max-width: 478px;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.2rem;
  /* border: 1px solid red; */
  /* margin-bottom: 2rem; */
  /* border: 1px solid red; */
}
.links ul {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-items: center;

  list-style-type: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1rem;
}
.links li {
  /* margin-left: 10rem; */
  /* border: 1px solid red; */
  display: inline;
  /* justify-items: space-between; */
}

.links li a {
  text-decoration: none;
  color: #333333;
}

/* .link-styling {
  border: 1px solid red;

  border-bottom: 1px solid blue;
  background: #2f80ed;
  margin-top: 15px;
  height: 4px;
  border-radius: 4px 4px 0px 0px;
  width: 6rem;
} */

/* .links li a {

} */

/* styling the input  */
/* .input {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  align-items: center;
  border: 1px solid red;
  justify-content: space-between;
} */
/* .input-bar {
  width: 29.75rem;
  height: 3.5rem;
  max-width: 476px;
  border: 1px solid #bdbdbd;
  border-radius: 12px;
  justify-self: start;
  padding: 1.25rem auto 1.187rem 0.75rem;
}
.input-bar::placeholder {
  margin: 1.25rem auto 1.187rem 0.75rem;
}
.input-btn {
  max-width: 109px;
  width: 6.8125rem;
  height: 3.5rem;
  background: #2f80ed;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  border-radius: 12px;
  justify-items: end;
} */
hr {
  width: 100%;
  /* width: 29.875rem; */
  height: 1px;
  left: 414px;
  top: 166px;
  /*  */
  /* Gray 4 */
  margin-bottom: 1rem;
  border: 1px solid #bdbdbd;
}
.input-form {
  margin-bottom: 2rem;
}
.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 38.125rem;
  max-width: 520px;
  /* border: 1px solid red; */
}

.input-bar {
  width: 29.75rem;
  height: 3.5rem;
  max-width: 476px;
  border: 1px solid #bdbdbd;
  border-radius: 12px;
  /* justify-self: start; */
  margin-right: 1.57rem;
  border: 1px solid #bdbdbd;
  border-radius: 12px;
  padding-left: 0.75rem;
  /* padding: 1.25rem auto 1.187rem 0.75rem; */
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 0.9375rem;
  line-height: 0.875rem;
}

.input-bar::placeholder {
  margin-left: 30px;
  /* border: 1px solid red; */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.875rem;
  color: #828282;
}

.input-bar:focus {
  outline: none;
}
.input-btn {
  max-width: 109px;
  width: 6.8125rem;
  height: 3.5rem;
  background: #2f80ed;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  border-radius: 12px;
  /* justify-items: end; */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1rem;

  color: #ffffff;
  border: none;
}

/* .input-btn:focus {
  border: 1px solid #828282;
} */

.list {
  align-self: flex-start;
  margin-left: 0;
  /* border: 1px solid red; */
}
/* s */
.checkbox-form div {
  display: block;
}
.large-div {
  /* border: 1px solid red; */

  width: 32.625rem;
  max-width: 522px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.checkbox-form div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  /* border: 1px solid red; */
  margin-bottom: 30px;
  text-align: center;
}
.checkbox-form label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
  /* text-decoration: line-through; */
}
form input[type='checkbox'] {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #828282;
  border-radius: 4px;
  margin-right: 0.5rem;
}
